<div class="container">
  <div class="row">
    <table class="table table-hover table-cart">
      <thead class="thead-default">
        <tr>
          <th class="table-id-column">No.</th>
          <th>Product</th>
          <th class="table-number-column">Unit Price</th>
          <th class="table-number-column">VAT</th>
          <th class="table-number-column">Quantity</th>
          <th class="table-number-column">Subtotal</th>
        </tr>
      </thead>
      <tfoot>
        <tr class="table-info">
          <th colspan="5" class="table-number-column">Total w/ VAT:</th>
          <th class="table-number-column"><%= cart.total_with_vat %></th>
        </tr>
      </tfoot>
      <tbody>
      <% cart.items.each_with_index do |cart_item, no| %>
        <tr>
          <th scope="row" class="table-id-column">
            <span class="id"><%= no + 1 %>.</span>
          </th>
          <td>
            <span class="name"><%= cart_item.product.name %></span>
          </td>
          <td class="table-number-column">
            <span class="price"><%= cart_item.product.price_with_vat %></span>
          </td>
          <td class="table-number-column">
            <span class="vat"><%= cart_item.product.vat %></span>
          </td>
          <td class="table-number-column">
            <span class="quantity"><%= cart_item.quantity %></span>
          </td>
          <td class="table-number-column">
            <span class="total font-weight-bold"><%= cart_item.total_with_vat %></span>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
